<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homework.group.videoplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.SampleActivity"
            >
        </activity>
        <activity
            android:name=".ui.detail.VideoDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.mime.MimeActivity" />
        <activity android:name=".ui.collection.CollectionActivity" />
        <activity
            android:name=".ui.history.HistoryActivty"
            android:theme="@style/AppTheme_01" />
        <activity
            android:name=".ui.play.PlayActivity"
            android:process=":vitamio"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.menu.main.VideoMenuActivity"
            android:theme="@style/AppTheme_01" />
        <activity
            android:name=".ui.menu.detail.VideoMenuDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.detail.EditActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.menu.VideoMenuOperationActivity"
            android:theme="@style/Theme.Dialog_Activity" />
        <activity android:name=".ui.menu.manager.VideoMenuManagerActivity"
            android:theme="@style/AppTheme_01"/>
    </application>

</manifest>